<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All User</title>
    <style>
      h1{
        text-align: center;
        color: brown;
      }
      table,
      th,
      td {
        border: 1px dotted rgb(27, 27, 29);
      }
    </style>
  </head>

  <body>
    <h1>User-Data</h1>
    <table>
      <tr>
        <th style="background-color: orchid;">id</th>
        <th style="background-color: burlywood;">Email</th>
        <th style="background-color: lightcoral;">username</th>
      </tr>
      <% for(user of users){ %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td>
          <form style="display: flex; " action="/user/<%= user.id %>/edit" method="get">
            <button style="background-color: green;color: white; border: none; border-radius: 9px;">Edit username</button>
          </form>
        </td>
        <td>
          <form method="get" action="/user/<%=user.id%>/delete">
            <button>Delete</button>
          </form>
        </td>
      </tr>
      <% } %>
    </table>
    <a href="http://localhost:8080/user/addnew">Add new user</a>
  </body>
</html>
